# Maintainer: @MAINTAINER@
pkgname=@PKGNAME@
pkgver=@PKGVER@
pkgrel=1
pkgdesc="@PKGDESC@"
@ARCH_LINE@
url="@PKGURL@"
license=('@PKGLICENSE@')
@DEPENDS_LINE@
@MAKEDEPENDS_LINE@

@SOURCE_AND_SHA@

@PKGVER_BLOCK@

prepare() {
  : # add preparation steps if needed
}

build() {
  : # add build steps if needed
@BUILD_BLOCK@
}

@CHECK_BLOCK@

package() {
  install -d "$pkgdir/usr/share/$pkgname"
  echo "Hello from $pkgname" > "$pkgdir/usr/share/$pkgname/README.txt"
@PACKAGE_BLOCK@
}
